@mixin mobile {
    @media only screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}

@mixin grid($cols, $gap) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr );
    gap: $gap;
}