.gallery {
    padding: $gap 0;

    h3 {
        text-align: center;
    }
}

.gallery-images {
    margin-top: $gap;
    @include grid(2, $gap);
    justify-items: center;

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
        gap: $gap / 2;
    }

    @include desktop {
        grid-template-columns: repeat(6, 1fr);
        gap: $gap / 2;
    }
}

.g-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.35);

    .btn-close {
        padding: 0.5rem 1.5rem;
        position: absolute;
        top: 10px;
        right: 15%;
        background-color: $white;
        color: $pink;
        font-weight: $bold;
        border: 3px solid $pink;
        border-radius: 1rem;
        cursor: pointer;

        &:hover {
            background-color: darken($color: $white, $amount: 10);
        }
    }
}